extends layout 
block content 
    h2 What's the password? 
    form(action="" method="POST" class="form form--post")
        label(for="secret_password") secret password: 
        input(type="password" class="form__input" name="secret_password" required="true") 
        div.form__controls
            button(type="submit") join
            a(href="/chat") cancel 
    if errors 
        ul 
            for error in errors 
                li
                    p!= error.msg